Repository hashicorp/consul-k8s, pull requests merged in 2019-12, with the labels that each got.

#169 Only write service-defaults if protocol set
  connect-inject/container_init.go
  connect-inject/container_init_test.go
  connect-inject/handler.go
  connect-inject/handler_test.go
  subcommand/inject-connect/command.go
Labels: area/connect

#160 Add -add-k8s-namespace-suffix flag to the sync-catalog command
  catalog/to-consul/resource.go
  catalog/to-consul/resource_test.go
  helper/controller/controller.go
  subcommand/sync-catalog/command.go
  subcommand/sync-catalog/command_test.go
Labels: area/sync, enhancement

#172 fix: proxy's destination service id is not service id
  connect-inject/container_init.go
  connect-inject/container_init_test.go
Labels: area/connect, bug

#176 Add new lifecycle-sidecar command
  commands.go
  connect-inject/envoy_sidecar.go
  connect-inject/handler.go
  connect-inject/handler_test.go
  connect-inject/lifecycle_sidecar.go
  connect-inject/lifecycle_sidecar_test.go
  go.mod
  go.sum
  subcommand/inject-connect/command.go
  subcommand/inject-connect/command_test.go
  subcommand/lifecycle-sidecar/command.go
  subcommand/lifecycle-sidecar/command_test.go
Labels: area/connect, bug

#174 Support fullnameOverride
  subcommand/server-acl-init/command.go
  subcommand/server-acl-init/command_test.go
Labels: bug

#181 Enable TLS for connect-inject
  connect-inject/container_init.go
  connect-inject/container_init_test.go
  connect-inject/envoy_sidecar.go
  connect-inject/envoy_sidecar_test.go
  connect-inject/handler.go
  connect-inject/lifecycle_sidecar.go
  connect-inject/lifecycle_sidecar_test.go
  subcommand/inject-connect/command.go
Labels: area/connect, theme/tls
