Repository hashicorp/consul-k8s, pull requests merged in 2020-11, with the labels that each got.

#368 add ACL support for health checks controller
  subcommand/inject-connect/command_test.go
  subcommand/server-acl-init/command.go
  subcommand/server-acl-init/command_ent_test.go
  subcommand/server-acl-init/command_test.go
  subcommand/server-acl-init/connect_inject.go
  subcommand/server-acl-init/rules.go
  subcommand/server-acl-init/rules_test.go
Labels: area/acls, enhancement, theme/health-checks

#376 add support of consul namespaces to health checks
  connect-inject/handler.go
  connect-inject/handler_ent_test.go
  connect-inject/handler_test.go
  connect-inject/health_check_resource.go
  connect-inject/health_check_resource_ent_test.go
  connect-inject/health_check_resource_test.go
Labels: enhancement, theme/consul-namespaces, theme/health-checks

#381 add namespace_prefix to acls rule for connect inject
  subcommand/server-acl-init/rules.go
  subcommand/server-acl-init/rules_test.go
Labels: area/acls, enhancement, theme/health-checks

#177 Allow extra envoy args to be passed in
  connect-inject/envoy_sidecar.go
  connect-inject/envoy_sidecar_test.go
  connect-inject/handler.go
  go.mod
  go.sum
  subcommand/inject-connect/command.go
Labels: area/connect, enhancement

#380 Set failing check when pod is not yet running
  connect-inject/container_init.go
  connect-inject/health_check_resource.go
  connect-inject/health_check_resource_ent_test.go
  connect-inject/health_check_resource_test.go
Labels: theme/health-checks
