Repository hashicorp/consul-k8s, pull requests merged in 2020-06, with the labels that each got.

#250 handle upstream annotations that contain a datacenter segment
  connect-inject/container_env.go
  connect-inject/container_env_test.go
Labels: area/connect

#257 Sync LB endpoints
  catalog/to-consul/resource.go
  catalog/to-consul/resource_test.go
  subcommand/sync-catalog/command.go
Labels: area/sync, enhancement

#274 top level build was failing due to missing bin extension for windows
  build-support/functions/20-build.sh
Labels: bug

#282 Always update auth method
  subcommand/server-acl-init/command.go
  subcommand/server-acl-init/command_test.go
  subcommand/server-acl-init/connect_inject.go
Labels: area/acls, theme/external-servers

#281 fail if service name != service account name
  connect-inject/container_init.go
  connect-inject/container_init_test.go
Labels: area/connect, enhancement
