Repository hashicorp/consul-k8s, pull requests merged in 2022-10, with the labels that each got.

#1581 Add `tolerations` and `nodeSelector` to Server ACL init jobs and `nodeSelector` to Webhook cert manager
  charts/consul/templates/server-acl-init-cleanup-job.yaml
  charts/consul/templates/server-acl-init-job.yaml
  charts/consul/templates/webhook-cert-manager-deployment.yaml
  charts/consul/test/unit/server-acl-init-cleanup-job.bats
  charts/consul/test/unit/server-acl-init-job.bats
  charts/consul/test/unit/webhook-cert-manager-deployment.bats
  charts/consul/values.yaml
Labels: backport/0.49.x

#1627 Add CHANGELOG entry for PR 1581
  CHANGELOG.md
Labels: backport/0.49.x

#1631 Update inaccurate example for API gateway's copyAnnotations
  charts/consul/values.yaml
Labels: area/chart-only, backport/0.49.x

#1653 Backport api-gateway: Allow controller to read MeshService resource (#1574)
  CHANGELOG.md
  charts/consul/templates/api-gateway-controller-clusterrole.yaml
Labels: area/chart-only, theme/api-gateway
