Repository hashicorp/consul-k8s, pull requests merged in 2022-09, with the labels that each got.

#1511 Populate primary dc flag for APIGW controller in secondary federated dc
  CHANGELOG.md
  charts/consul/templates/api-gateway-controller-deployment.yaml
  charts/consul/test/unit/api-gateway-controller-deployment.bats
Labels: area/chart-only, theme/api-gateway

#1542 Allow the API Gateway controller to create and update Secrets
  CHANGELOG.md
  charts/consul/templates/api-gateway-controller-clusterrole.yaml
Labels: area/chart-only, theme/api-gateway, backport/0.49.x

#1541 bug: provide new grpc TLS auto-encrypt config
  CHANGELOG.md
  charts/consul/templates/client-daemonset.yaml
Labels: backport/0.49.x

#1549 Update backport squash
  .github/workflows/backport.yml
Labels: type/enhancement, backport/0.49.x

#1484 update service config crds, update passive health check
  acceptance/tests/fixtures/bases/crds-oss/servicedefaults.yaml
  charts/consul/templates/crd-servicedefaults.yaml
  control-plane/api/v1alpha1/servicedefaults_types.go
  control-plane/api/v1alpha1/servicedefaults_types_test.go
  control-plane/config/crd/bases/consul.hashicorp.com_servicedefaults.yaml
  control-plane/go.mod
  control-plane/go.sum
Labels: backport/0.49.x

#1560 add EnforcingConsecutive5xx to changelog
  CHANGELOG.md
  control-plane/go.mod
  control-plane/go.sum
Labels: backport/0.49.x

#1565 reverted addition of squash to backport assistant
  .github/workflows/backport.yml
Labels: backport/0.49.x
