Repository hashicorp/consul-k8s, pull requests merged in 2024-11, with the labels that each got.

#4411 post 1.4.7 - update versions
  charts/consul/Chart.yaml
  charts/consul/values.yaml
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#4412 post 1.5.4 - update versions
  charts/consul/Chart.yaml
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#4413 post 1.6.1 - update versions
  charts/consul/Chart.yaml
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#4417 1.5.4 release
  CHANGELOG.md
  charts/consul/Chart.yaml
  charts/consul/values.yaml
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#4416 1.4.7 release
  CHANGELOG.md
  charts/consul/Chart.yaml
  charts/consul/values.yaml
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#4410 post-1.1.17 - update versions in 1.1.x
  charts/consul/Chart.yaml
  charts/consul/values.yaml
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#4415 1.1.17 release
  CHANGELOG.md
  charts/consul/Chart.yaml
  charts/consul/values.yaml
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#4420 update changelog
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-backport

#4421 update changelog
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-backport

#4422 update changelog
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-backport

#4426 Refactor `proxy list` command, ensuring api-gateway Pods are included
  .changelog/4426.txt
  cli/cmd/proxy/list/command.go
  cli/cmd/proxy/list/command_test.go
Labels: area/cli, backport/1.1.x, backport/1.4.x, backport/1.5.x, backport/1.6.x

#4419 add changelog entries from releases
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-backport

#4424 [NET-11187] Nightly openshift basic test
  Makefile
  acceptance/ci-inputs/openshift_acceptance_test_packages.yaml
  acceptance/framework/config/config.go
  acceptance/framework/flags/flags.go
  acceptance/tests/fixtures/cases/openshift/basic/backend.yaml
  acceptance/tests/fixtures/cases/openshift/basic/frontend.yaml
  acceptance/tests/fixtures/cases/openshift/basic/gateway.yaml
  acceptance/tests/fixtures/cases/openshift/basic/intentions.yaml
  acceptance/tests/fixtures/cases/openshift/basic/route.yaml
  acceptance/tests/openshift/basic_openshift_test.go
  acceptance/tests/openshift/main_test.go
  control-plane/go.mod
Labels: pr/no-changelog, pr/no-backport

#4434 Fix duplicate key in connect-inject ACL policy
  .changelog/4434.txt
  control-plane/subcommand/server-acl-init/rules.go
  control-plane/subcommand/server-acl-init/rules_test.go
Labels: backport/1.4.x, backport/1.5.x, backport/1.6.x

#4432 [NET-11256] Add `gateway read` command to consul-k8s CLI
  .changelog/4432.txt
  cli/cmd/gateway/read/command.go
  cli/cmd/gateway/read/command_test.go
  cli/cmd/proxy/read/command.go
  cli/commands.go
  cli/go.mod
  cli/go.sum
Labels: area/cli, pr/no-backport
