Repository hashicorp/consul-k8s, pull requests merged in 2025-10, with the labels that each got.

#4745 Use privileged dataplane entrypoint for consul-dataplane
  .changelog/4745.txt
  charts/consul/templates/_helpers.tpl
  charts/consul/templates/dns-proxy-deployment.yaml
  charts/consul/templates/ingress-gateways-deployment.yaml
  charts/consul/templates/mesh-gateway-deployment.yaml
  charts/consul/templates/mesh-gateway-podsecuritypolicy.yaml
  charts/consul/templates/telemetry-collector-podsecuritypolicy.yaml
  charts/consul/templates/terminating-gateways-podsecuritypolicy.yaml
  charts/consul/test/unit/server-statefulset.bats
  control-plane/api-gateway/gatekeeper/dataplane.go
  control-plane/api-gateway/gatekeeper/dataplane_test.go
  control-plane/api-gateway/gatekeeper/gatekeeper_test.go
  control-plane/connect-inject/webhook/consul_dataplane_sidecar.go
  control-plane/connect-inject/webhook/consul_dataplane_sidecar_test.go
Labels: backport/1.6.x, backport/1.7.x, backport/1.8.x

#4779 Addition of ipv6 changes for consul-k8s connect inject and cni
  .changelog/4779.txt
  acceptance/framework/config/config.go
  acceptance/framework/config/config_test.go
  acceptance/framework/flags/flags.go
  acceptance/framework/helpers/helpers.go
  acceptance/framework/k8s/helpers.go
  acceptance/framework/k8s/kubectl.go
  acceptance/tests/peering/peering_connect_namespaces_test.go
  charts/consul/templates/cni-daemonset.yaml
  charts/consul/templates/connect-inject-deployment.yaml
  charts/consul/values.yaml
  cli/common/envoy/http.go
  control-plane/api-gateway/binding/registration.go
  control-plane/api-gateway/controllers/gateway_controller.go
  control-plane/api-gateway/controllers/gateway_controller_integration_test.go
  control-plane/api-gateway/gatekeeper/dataplane.go
  control-plane/api-gateway/gatekeeper/gatekeeper.go
  control-plane/api-gateway/gatekeeper/gatekeeper_test.go
  control-plane/api-gateway/gatekeeper/init.go
  control-plane/cni/go.mod
  control-plane/cni/go.sum
  control-plane/cni/main.go
  control-plane/cni/main_test.go
  control-plane/connect-inject/constants/constants.go
  control-plane/connect-inject/controllers/endpoints/consul_client_health_checks.go
  control-plane/connect-inject/webhook/consul_dataplane_sidecar.go
  control-plane/connect-inject/webhook/consul_dataplane_sidecar_test.go
  control-plane/connect-inject/webhook/container_init.go
  control-plane/connect-inject/webhook/container_init_test.go
  control-plane/connect-inject/webhook/dns.go
  control-plane/connect-inject/webhook/dns_test.go
  control-plane/connect-inject/webhook/mesh_webhook_test.go
  control-plane/connect-inject/webhook/redirect_traffic.go
  control-plane/consul/consul.go
  control-plane/go.mod
  control-plane/go.sum
  control-plane/helper/test/test_util.go
  control-plane/subcommand/acl-init/command.go
  control-plane/subcommand/connect-init/command.go
  control-plane/subcommand/connect-init/command_test.go
  control-plane/subcommand/create-federation-secret/command.go
  control-plane/subcommand/server-acl-init/servers.go
Labels: pr/no-backport

#4826 Prepare 1.9.0 rc1
  .release/security-scan.hcl
  CHANGELOG.md
  charts/consul/Chart.yaml
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#4829 Suppressing CVEs
  .github/workflows/reusable-conditional-skip.yml
  .release/security-scan.hcl
Labels: pr/no-changelog, pr/no-backport

#4833 Prepare 1.7.6
  .release/security-scan.hcl
  CHANGELOG.md
  charts/consul/Chart.yaml
  charts/consul/values.yaml
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#4847 Backport: granularity for package level concurrency and rerun availability (#4744)
  .github/workflows/pr-cloud-accepance.yml
  .github/workflows/pr.yml
  .github/workflows/reusable-conditional-skip.yml
  acceptance/ci-inputs/aks_acceptance_test_packages.yaml
  acceptance/ci-inputs/eks_acceptance_test_packages.yaml
  acceptance/ci-inputs/gke_acceptance_test_packages.yaml
  acceptance/ci-inputs/kind_acceptance_test_packages.yaml
Labels: pr/no-changelog, pr/no-backport

#4834 Prepare 1.6.10
  .release/security-scan.hcl
  CHANGELOG.md
  charts/consul/Chart.yaml
  charts/consul/values.yaml
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#4839 Backport: update: go version to 1.25.1 (#4762) (#4810)
  .changelog/4762.txt
  .github/workflows/lint.yaml
  .go-version
  acceptance/go.mod
  charts/go.mod
  cli/go.mod
  control-plane/cni/go.mod
  control-plane/go.mod
  control-plane/go.sum
  hack/aws-acceptance-test-cleanup/go.mod
  hack/camel-crds/go.mod
  hack/copy-crds-to-chart/go.mod
  hack/helm-reference-gen/go.mod
  version/go.mod
Labels: pr/no-changelog, pr/no-backport
