Repository hashicorp/consul-k8s, pull requests merged in 2025-07, with the labels that each got.

#4649 update changelog and version for 1.5.9
  CHANGELOG.md
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#4656 Updating to go1.24.4 to solve helm dependency issue
  .github/workflows/lint.yaml
  .go-version
  .golangci.yml
  acceptance/framework/k8s/kubectl.go
  acceptance/go.mod
  acceptance/tests/connect/connect_proxy_lifecycle_test.go
  charts/go.mod
  cli/go.mod
  cli/go.sum
  control-plane/Dockerfile
  control-plane/cni/go.mod
  control-plane/go.mod
  hack/camel-crds/go.mod
  hack/copy-crds-to-chart/go.mod
  hack/helm-reference-gen/doc_node.go
  hack/helm-reference-gen/go.mod
  hack/helm-reference-gen/main.go
  hack/helm-reference-gen/main_test.go
  version/go.mod
Labels: pr/no-changelog, backport/1.7.x

#4468 Net 12039 terminating gateway acl policy fix
  .changelog/4468.txt
  charts/consul/values.yaml
  control-plane/controllers/configentries/configentry_controller.go
  control-plane/controllers/configentries/configentry_controller_ent_test.go
  control-plane/controllers/configentries/terminatinggateway_controller.go
  control-plane/subcommand/inject-connect/v1controllers.go
Labels: area/acls, theme/terminating-gateway, backport/1.5.x, backport/1.6.x, backport/1.7.x

#4659 Release preparation
  .github/workflows/lint.yaml
  .go-version
  .golangci.yml
  .release/security-scan.hcl
  CHANGELOG.md
  acceptance/framework/k8s/kubectl.go
  acceptance/go.mod
  acceptance/tests/connect/connect_proxy_lifecycle_test.go
  charts/consul/Chart.yaml
  charts/consul/values.yaml
  charts/go.mod
  cli/go.mod
  cli/go.sum
  control-plane/Dockerfile
  control-plane/cni/go.mod
  control-plane/go.mod
  hack/aws-acceptance-test-cleanup/go.mod
  hack/camel-crds/go.mod
  hack/copy-crds-to-chart/go.mod
  hack/helm-reference-gen/doc_node.go
  hack/helm-reference-gen/go.mod
  hack/helm-reference-gen/main.go
  hack/helm-reference-gen/main_test.go
  version/go.mod
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#4665 Prepare release 1.8.0
  .github/workflows/weekly-acceptance-1-8-x.yml
  CHANGELOG.md
  acceptance/go.mod
  acceptance/go.sum
  charts/consul/Chart.yaml
  charts/consul/values.yaml
  cli/go.mod
  cli/go.sum
  control-plane/cni/go.mod
  control-plane/cni/go.sum
  version/go.sum
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#4660 Release preparation
  .release/security-scan.hcl
  charts/consul/Chart.yaml
  charts/consul/values.yaml
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#4666 Prepare 1.8.0
  .release/security-scan.hcl
Labels: pr/no-changelog, pr/no-backport

#4667 Suppressing vulnerabilities
  .release/security-scan.hcl
Labels: pr/no-changelog, pr/no-backport

#4671 Updating changelog and versions
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#4670 Updating changelog and versions
  CHANGELOG.md
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#4669 Updating changelog and versions
  version/version.go
Labels: pr/no-changelog, pr/no-backport

#4672 Updating changelog and versions
  CHANGELOG.md
Labels: pr/no-changelog, pr/no-backport
